:root{
    --primary: rgb(15, 118, 110);
    --bg: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    /* min-height: 3000px; */
}

.navbar {
    box-shadow: 0 4px 6px rgba(15, 118, 110, 0.5) !important; 
   
}

.container-fluid .navbar-brand{
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    font-style: italic;
}

.container-fluid .navbar-brand span{
    color: var(--primary);
}

 .nav-item a{
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 1rem;
} 

.nav-item a:hover{
    color: var(--primary);
}

.nav-item a::after{
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.nav-item a:hover::after{
    transform: scaleX(0.5);
}

.navbar .navbar-icon a{
    color: #000;
    margin: 0 0.5rem;
}

.navbar .navbar-icon a:hover{
    color: var(--primary);
}

.btn-primary{
    background: #fff !important;
    border: none !important;
    width: 100px;
    height: 40px;
}

.hero .content a{
    color: var(--primary);

}
.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    /* background-image: url('../img/bg2.png'); */
    background: linear-gradient(to bottom right, #0F766E, #2dd4bf);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
/* .hero::after{ 
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 8%, rgba(255, 255, 255, 0) 50%); 
} */
.hero .content{
    color: #fff;
    padding: 1.4rem 5%;
    max-width: 60rem;
}
.hero .content h1{
    font-size: 3.5rem;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
    line-height: 1.2;
    white-space: nowrap;
}
.hero .content p{
    font-size: 1.2rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    color: #DAC0A3;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
}
.text-and-image {
    display: flex;
    justify-content: space-between; 
}
.text {
    margin-top: 10rem;
    margin-right: 180px; /* Jarak antara "text" dan "hero-img" */
}
.hero-img img {
    width: 450px; 
    height: auto; 
}

.about{
    padding: 6rem 7% 1.4rem;
}
.about h2{
    text-align: center;
    font-size: 2.0rem;
    margin-bottom: 3rem;
}
.about h2 span{
    color: var(--primary);
}
.about .row {
    display: flex;
}
.about .row .about-img{
    flex: 1 1 45rem;
}
.about .row .about-img img{
    width: 100%;
    border-radius: 10px;
}
.about .row .content{
    flex: 1 1 35rem;
    padding: 0 1rem;
}
.about .row .content h3{
    font-size: 1.8rem;
    margin-bottom: 3rem;
    margin-top: 5rem;
    color: var(--primary);
}
.about .row .content p{
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
    font-weight: 100;
    line-height: 1.6;
}


